* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(169, 169, 169);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    color: white;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(69, 69, 69);
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
